<div class="row mb-3">
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class='img-responsive' src="images/fortnite.jpg" class="card-img-top" alt="Fortnite">
            <div class="card-body">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-start">$12</div>
                    <a href="#" class="btn btn-success float-end">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class='img-responsive' src="images/fortnite.jpg" class="card-img-top" alt="Fortnite">
            <div class="card-body">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-start">$12</div>
                    <a href="#" class="btn btn-success float-end">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class='img-responsive' src="images/fortnite.jpg" class="card-img-top" alt="Fortnite">
            <div class="card-body">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-start">$12</div>
                    <a href="#" class="btn btn-success float-end">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class='img-responsive' src="images/fortnite.jpg" class="card-img-top" alt="Fortnite">
            <div class="card-body">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-start">$12</div>
                    <a href="#" class="btn btn-success float-end">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class='img-responsive' src="images/fortnite.jpg" class="card-img-top" alt="Fortnite">
            <div class="card-body">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-start">$12</div>
                    <a href="#" class="btn btn-success float-end">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class='img-responsive' src="images/fortnite.jpg" class="card-img-top" alt="Fortnite">
            <div class="card-body">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-start">$12</div>
                    <a href="#" class="btn btn-success float-end">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>